.main__search {
    margin-top: 120px;

    &-input {
        background: #FFFFFF;
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        font-size: 18px;
        line-height: 21px;
        color: #141414;
        font-weight: 700;
        outline: none;
        border: none;
    }
}