$Raleway:   ('Raleway-Bold', 700),
            ('Raleway-Regular', 400);

@each $name, $weight in $Raleway {
    @font-face {
        font-family: 'Raleway';
        src: url('@/assets/fonts/Raleway/#{$name}.ttf');
        font-weight: $weight;
    }
}


$Montserrat: ('Montserrat-Light', 300),
             ('Montserrat-Regular', 400),
             ('Montserrat-Bold', 700),
             ('Montserrat-BoldItalic', 701);

@each $name, $weight in $Montserrat {
    @font-face {
        font-family: 'Montserrat';
        src: url('@/assets/fonts/Montserrat/#{$name}.ttf');
        font-weight: $weight;
    }
}